/* 按钮样式 */
.hony-button-group {
    display: flex;
    gap: 48px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.hony-button-group:last-child {
    margin-bottom: 0;
}

.hony-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 32px;
    min-width: 68px;
    align-self: flex-start;
    line-height: 20px;
    gap: 8px;
}

.hony-btn-sm {
    height: 24px;
    padding: 4px;
    font-size: 12px;
    min-width: 56px;
    gap: 4px;
}

.hony-btn-lg {
    height: 44px;
    padding: 0 20px;
    font-size: 16px;
    min-width: 88px;
}

.hony-btn:hover {
    /* 移除上移效果 */
}

.hony-btn:active {
    transform: translateY(0);
}

.hony-btn:disabled {
    cursor: not-allowed;
}

/* 按钮类型 */
.hony-btn-primary {
    background-color: var(--primary-main-1);
    color: var(--primary-main-5);
    border-color: var(--primary-main-1);
}

.hony-btn-primary:hover {
    background-color: var(--primary-main-2);
    border-color: var(--primary-main-2);
}

.hony-btn-primary:active {
    background-color: var(--primary-main-3);
    border-color: var(--primary-main-3);
    box-shadow: 0 0 2px 0 var(--primary-3-TPY);
}

.hony-btn-primary:disabled {
    background-color: var(--primary-main-4);
    border-color: var(--primary-main-4);
    color: var(--primary-main-5);
}

.hony-btn-secondary {
    background-color: var(--grey-main-1);
    color: var(--primary-main-5);
}

.hony-btn-secondary .hony-btn-icon {
    color: var(--primary-main-5);
}

.hony-btn-secondary:hover {
    background-color: var(--grey-main-2);
    border-color: var(--grey-main-2);
    color: var(--primary-main-5);
}

.hony-btn-secondary:hover .hony-btn-icon {
    color: var(--primary-main-5);
}

.hony-btn-secondary:active {
    background-color: var(--grey-main-3);
    border-color: var(--grey-main-3);
    color: var(--primary-main-5);
    box-shadow: 0 0 2px 0 rgba(21, 24, 33, 0.3);
}

.hony-btn-secondary:active .hony-btn-icon {
    color: var(--primary-main-5);
}

.hony-btn-secondary:disabled {
    background-color: var(--grey-main-4);
    color: var(--primary-main-5);
}

.hony-btn-secondary:disabled .hony-btn-icon {
    color: var(--primary-main-5);
}

.hony-btn-danger {
    background-color: var(--danger-main-1);
    color: var(--primary-main-5);
}

.hony-btn-danger:hover {
    background-color: var(--danger-main-2);
    border-color: var(--danger-main-2);
}

.hony-btn-danger:active {
    background-color: var(--danger-main-3);
    border-color: var(--danger-main-3);
    box-shadow: 0 0 2px 0 rgba(224, 44, 44, 0.4);
}

.hony-btn-danger:disabled {
    background-color: var(--danger-main-4);
    color: var(--primary-main-5);
}

.hony-btn-success {
    background-color: var(--success-main-1);
    color: var(--primary-main-5);
}

.hony-btn-success:hover {
    background-color: var(--success-main-2);
    border-color: var(--success-main-2);
}

.hony-btn-success:active {
    background-color: var(--success-main-3);
    border-color: var(--success-main-3);
    box-shadow: 0 0 2px 0 rgba(43, 164, 113, 0.4);
}

.hony-btn-success:disabled {
    background-color: var(--success-main-4);
    color: var(--primary-main-5);
}

.hony-btn-warning {
    background-color: var(--warning-main-1);
    color: var(--primary-main-5);
}

.hony-btn-warning:hover {
    background-color: var(--warning-main-2);
    border-color: var(--warning-main-2);
}

.hony-btn-warning:active {
    background-color: var(--warning-main-3);
    border-color: var(--warning-main-3);
    box-shadow: 0 0 2px 0 rgba(227, 115, 24, 0.4);
}

.hony-btn-warning:disabled {
    background-color: var(--warning-main-4);
    color: var(--primary-main-5);
}

/* 描边按钮 */
.hony-btn-outline-primary {
    background-color: var(--grey-bg-0);
    color: var(--primary-main-1);
    border-color: var(--primary-main-1);
}

.hony-btn-outline-primary:hover {
    background-color: var(--primary-face-1);
    border-color: var(--primary-main-2);
}

.hony-btn-outline-primary:active {
    background-color: var(--primary-face-2);
    border-color: var(--primary-main-3);
    box-shadow: 0 0 2px 0 var(--primary-3-TPY);
}

.hony-btn-outline-primary:disabled {
    background-color: var(--grey-bg-0);
    color: var(--primary-main-4);
    border-color: var(--primary-main-4);
}

.hony-btn-outline-secondary {
    background-color: var(--grey-bg-0);
    color: var(--grey-main-1);
    border-color: var(--grey-border-2);
}

.hony-btn-outline-secondary:hover {
    background-color: var(--grey-face-1);
    color: var(--grey-main-2);
    border-color: var(--grey-main-2);
}

.hony-btn-outline-secondary:active {
    background-color: var(--grey-face-2);
    color: var(--grey-main-3);
    border-color: var(--grey-border-2);
    box-shadow: 0 0 2px 0 rgba(21, 24, 33, 0.3);
}

.hony-btn-outline-secondary:disabled {
    background-color: var(--grey-bg-0);
    color: var(--grey-main-4);
    border-color: var(--grey-border-2);
}

.hony-btn-outline-danger {
    background-color: var(--grey-bg-0);
    color: var(--danger-main-1);
    border-color: var(--danger-main-1);
}

.hony-btn-outline-danger:hover {
    background-color: var(--danger-face-1);
    border-color: var(--danger-main-2);
}

.hony-btn-outline-danger:active {
    background-color: var(--danger-face-2);
    border-color: var(--danger-main-3);
    box-shadow: 0 0 2px 0 rgba(224, 44, 44, 0.4);
}

.hony-btn-outline-danger:disabled {
    background-color: var(--grey-bg-0);
    color: var(--danger-main-4);
    border-color: var(--danger-main-4);
}

.hony-btn-outline-success {
    background-color: var(--grey-bg-0);
    color: var(--success-main-1);
    border-color: var(--success-main-1);
}

.hony-btn-outline-success:hover {
    background-color: var(--success-face-1);
    border-color: var(--success-main-2);
}

.hony-btn-outline-success:active {
    background-color: var(--success-face-2);
    border-color: var(--success-main-3);
    box-shadow: 0 0 2px 0 rgba(43, 164, 113, 0.4);
}

.hony-btn-outline-success:disabled {
    background-color: var(--grey-bg-0);
    color: var(--success-main-4);
    border-color: var(--success-main-4);
}

.hony-btn-outline-warning {
    background-color: var(--grey-bg-0);
    color: var(--warning-main-1);
    border-color: var(--warning-main-1);
}

.hony-btn-outline-warning:hover {
    background-color: var(--warning-face-1);
    border-color: var(--warning-main-2);
}

.hony-btn-outline-warning:active {
    background-color: var(--warning-face-2);
    border-color: var(--warning-main-3);
    box-shadow: 0 0 2px 0 rgba(227, 115, 24, 0.4);
}

.hony-btn-outline-warning:disabled {
    background-color: var(--grey-bg-0);
    color: var(--warning-main-4);
    border-color: var(--warning-main-4);
}

/* 文字按钮 */
.hony-btn-text {
    background-color: transparent;
    color: var(--grey-text-1);
    border-color: transparent;
    min-width: unset;
    padding: 4px;
    height: 24px;
}

.hony-btn-text:hover {
    background-color: var(--grey-face-1);
    color: var(--grey-text-1);
    border-color: transparent;
}

.hony-btn-text:active {
    background-color: var(--grey-face-2);
    color: var(--grey-text-1);
    border-color: transparent;
}

.hony-btn-text:disabled {
    color: var(--grey-text-4);
    background-color: transparent;
    border-color: transparent;
}

.hony-btn-text.hony-btn-primary {
    color: var(--primary-main-1);
}

.hony-btn-text.hony-btn-primary:hover {
    color: var(--primary-main-3);
    background-color: var(--primary-face-1);
}

.hony-btn-text.hony-btn-danger {
    color: var(--danger-main-1);
}

.hony-btn-text.hony-btn-danger:hover {
    color: var(--danger-main-3);
    background-color: var(--danger-face-1);
}

/* 链接按钮 */
.hony-btn-link {
    background-color: transparent;
    color: var(--primary-main-1);
    border-color: transparent;
    min-width: unset;
    padding: 4px;
    height: 24px;
}

.hony-btn-link:hover {
    background-color: var(--primary-face-1);
    color: var(--primary-main-2);
    border-color: transparent;
}

.hony-btn-link:active {
    background-color: var(--primary-face-2);
    color: var(--primary-main-3);
    border-color: transparent;
}

.hony-btn-link:disabled {
    color: var(--primary-main-4);
    background-color: var(--primary-face-1);
    border-color: transparent;
}

.hony-btn-link:disabled .hony-btn-icon {
    color: var(--primary-main-4);
}

.hony-btn-link.hony-btn-danger {
    color: var(--danger-main-1);
}

.hony-btn-link.hony-btn-danger:hover {
    background-color: var(--danger-face-1);
    color: var(--danger-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger:active {
    background-color: var(--danger-face-2);
    color: var(--danger-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger:disabled {
    color: var(--danger-main-4);
    background-color: var(--danger-face-1);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger:disabled .hony-btn-icon {
    color: var(--danger-main-4);
}

.hony-btn-link.hony-btn-success {
    color: var(--success-main-1);
}

.hony-btn-link.hony-btn-success:hover {
    background-color: var(--success-face-1);
    color: var(--success-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success:active {
    background-color: var(--success-face-2);
    color: var(--success-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success:disabled {
    color: var(--success-main-4);
    background-color: var(--success-face-1);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success:disabled .hony-btn-icon {
    color: var(--success-main-4);
}

.hony-btn-link.hony-btn-warning {
    color: var(--warning-main-1);
}

.hony-btn-link.hony-btn-warning:hover {
    background-color: var(--warning-face-1);
    color: var(--warning-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning:active {
    background-color: var(--warning-face-2);
    color: var(--warning-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning:disabled {
    color: var(--warning-main-4);
    background-color: var(--warning-face-1);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning:disabled .hony-btn-icon {
    color: var(--warning-main-4);
}

.hony-btn-link.hony-btn-secondary {
    color: var(--grey-text-1);
    border-color: transparent;
}

.hony-btn-link.hony-btn-secondary .hony-btn-icon {
    color: var(--grey-text-1);
}

.hony-btn-link.hony-btn-secondary:hover {
    background-color: var(--grey-face-1);
    color: var(--grey-text-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-secondary:hover .hony-btn-icon {
    color: var(--grey-text-2);
}

.hony-btn-link.hony-btn-secondary:active {
    background-color: var(--grey-face-2);
    color: var(--grey-text-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-secondary:active .hony-btn-icon {
    color: var(--grey-text-3);
}

.hony-btn-link.hony-btn-secondary:disabled {
    color: var(--grey-text-4);
    background-color: var(--grey-face-1);
    border-color: transparent;
}

.hony-btn-link.hony-btn-secondary:disabled .hony-btn-icon {
    color: var(--grey-text-4);
}

.hony-btn-link.hony-btn-secondary.hony-btn-hover {
    background-color: var(--grey-face-1);
    color: var(--grey-text-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-secondary.hony-btn-active {
    background-color: var(--grey-face-2);
    color: var(--grey-text-3);
    border-color: transparent;
}

/* 按钮尺寸 */
.hony-btn-lg {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    min-width: 88px; /* 大按钮最小宽度 */
}

/* 按钮形状 */
.hony-btn-round {
    border-radius: 50%;
    width: 36px;
    padding: 0;
}

.hony-btn-round.hony-btn-sm {
    width: 28px;
}

.hony-btn-round.hony-btn-lg {
    width: 40px;
}

.hony-btn-square {
    border-radius: 0;
}

.hony-btn-round-lg {
    border-radius: 24px;
}

/* 按钮状态 */
.hony-btn-hover {
    background-color: var(--primary-main-2);
}

.hony-btn-secondary.hony-btn-hover {
    background-color: var(--grey-main-2);
    color: var(--primary-main-5);
}

.hony-btn-danger.hony-btn-hover {
    background-color: var(--danger-main-2);
    border-color: var(--danger-main-2);
}

.hony-btn-success.hony-btn-hover {
    background-color: var(--success-main-2);
    border-color: var(--success-main-2);
}

.hony-btn-warning.hony-btn-hover {
    background-color: var(--warning-main-2);
    border-color: var(--warning-main-2);
}

.hony-btn-outline-primary.hony-btn-hover {
    background-color: var(--primary-face-1);
    border-color: var(--primary-main-2);
}

.hony-btn-outline-secondary.hony-btn-hover {
    background-color: var(--grey-face-2);
    color: var(--grey-text-2);
    border-color: var(--grey-main-2);
}

.hony-btn-outline-danger.hony-btn-hover {
    background-color: var(--danger-face-1);
    border-color: var(--danger-main-2);
}

.hony-btn-outline-success.hony-btn-hover {
    background-color: var(--success-face-1);
    border-color: var(--success-main-2);
}

.hony-btn-outline-warning.hony-btn-hover {
    background-color: var(--warning-face-1);
    border-color: var(--warning-main-2);
}

.hony-btn-link.hony-btn-hover {
    background-color: var(--primary-face-1);
    color: var(--primary-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger.hony-btn-hover {
    background-color: var(--danger-face-1);
    color: var(--danger-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success.hony-btn-hover {
    background-color: var(--success-face-1);
    color: var(--success-main-2);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning.hony-btn-hover {
    background-color: var(--warning-face-1);
    color: var(--warning-main-2);
    border-color: transparent;
}

.hony-btn-active {
    background-color: var(--primary-main-3);
    box-shadow: 0 0 2px 0 var(--primary-3-TPY);
}

.hony-btn-secondary.hony-btn-active {
    background-color: var(--grey-main-3);
    color: var(--primary-main-5);
    box-shadow: 0 0 2px 0 rgba(21, 24, 33, 0.3);
}

.hony-btn-danger.hony-btn-active {
    background-color: var(--danger-main-3);
    border-color: var(--danger-main-3);
    box-shadow: 0 0 2px 0 rgba(224, 44, 44, 0.4);
}

.hony-btn-success.hony-btn-active {
    background-color: var(--success-main-3);
    border-color: var(--success-main-3);
    box-shadow: 0 0 2px 0 rgba(43, 164, 113, 0.4);
}

.hony-btn-warning.hony-btn-active {
    background-color: var(--warning-main-3);
    border-color: var(--warning-main-3);
    box-shadow: 0 0 2px 0 rgba(227, 115, 24, 0.4);
}

.hony-btn-outline-primary.hony-btn-active {
    background-color: var(--primary-face-2);
    border-color: var(--primary-main-3);
    box-shadow: 0 0 2px 0 var(--primary-3-TPY);
}

.hony-btn-outline-secondary.hony-btn-active {
    background-color: var(--grey-face-2);
    color: var(--grey-text-3);
    border-color: var(--grey-border-2);
    box-shadow: 0 0 2px 0 rgba(21, 24, 33, 0.3);
}

.hony-btn-outline-danger.hony-btn-active {
    background-color: var(--danger-face-2);
    border-color: var(--danger-main-3);
    box-shadow: 0 0 2px 0 rgba(224, 44, 44, 0.4);
}

.hony-btn-outline-success.hony-btn-active {
    background-color: var(--success-face-2);
    border-color: var(--success-main-3);
    box-shadow: 0 0 2px 0 rgba(43, 164, 113, 0.4);
}

.hony-btn-outline-warning.hony-btn-active {
    background-color: var(--warning-face-2);
    border-color: var(--warning-main-3);
    box-shadow: 0 0 2px 0 rgba(227, 115, 24, 0.4);
}

.hony-btn-link.hony-btn-active {
    background-color: var(--primary-face-2);
    color: var(--primary-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger.hony-btn-active {
    background-color: var(--danger-face-2);
    color: var(--danger-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success.hony-btn-active {
    background-color: var(--success-face-2);
    color: var(--success-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning.hony-btn-active {
    background-color: var(--warning-face-2);
    color: var(--warning-main-3);
    border-color: transparent;
}

.hony-btn-outline-success.hony-btn-active {
    background-color: var(--success-face-2);
    border-color: var(--success-main-3);
}

.hony-btn-outline-warning.hony-btn-active {
    background-color: var(--warning-face-2);
    border-color: var(--warning-main-3);
}

.hony-btn-link.hony-btn-active {
    background-color: var(--primary-face-2);
    color: var(--primary-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-danger.hony-btn-active {
    background-color: var(--danger-face-2);
    color: var(--danger-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-success.hony-btn-active {
    background-color: var(--success-face-2);
    color: var(--success-main-3);
    border-color: transparent;
}

.hony-btn-link.hony-btn-warning.hony-btn-active {
    background-color: var(--warning-face-2);
    color: var(--warning-main-3);
    border-color: transparent;
}

/* 加载状态 */
.hony-btn-loading {
    position: relative;
    cursor: not-allowed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.hony-btn-loading .hony-btn-label {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease;
    position: relative;
    color: inherit;
    vertical-align: middle;
    line-height: 1;
}

.hony-btn-loading .hony-btn-loading-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
    margin-right: 8px;
    animation: spin 1s linear infinite;
    color: inherit;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1;
}

.hony-btn-loading .hony-btn-loading-icon::before {
    content: "\f080";
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* 大按钮的加载状态 */
.hony-btn-lg.hony-btn-loading .hony-btn-loading-icon {
    font-size: 18px;
    margin-right: 8px;
}

/* 小按钮的加载状态 */
.hony-btn-sm.hony-btn-loading .hony-btn-loading-icon {
    font-size: 12px;
    margin-right: 6px;
}

/* 纯图标按钮的加载状态 */
.hony-btn-icon-only.hony-btn-loading .hony-btn-loading-icon {
    margin-right: 0;
}

/* 确保加载按钮与正常按钮有相同的内边距 */
.hony-btn-loading {
    padding: 8px 16px;
}

.hony-btn-lg.hony-btn-loading {
    padding: 0 20px;
}

.hony-btn-sm.hony-btn-loading {
    padding: 4px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 图标按钮 */
.hony-btn-icon {

    font-size: 14px; /* 常规图标大小 */
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}

.hony-btn-icon svg {
    width: 1em;
    height: 1em;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* 纯图标按钮中的图标不需要右边距 */
.hony-btn-icon-only .hony-btn-icon {
    margin-right: 0 !important;
    font-size: 14px; /* 常规纯图标按钮图标大小 */
}

.hony-btn-sm .hony-btn-icon {
    font-size: 12px; /* 小图标大小 */
    line-height: 15px;
}

.hony-btn-lg .hony-btn-icon {
    font-size: 16px; /* 大图标大小 */
}

/* 图标按钮宽度 */
.hony-btn-icon-only {
    padding: 0;
    width: 32px !important; /* 常规图标按钮宽度 */
    height: 32px;
    min-width: 32px !important; /* 覆盖按钮的最小宽度 */
}

.hony-btn-icon-only.hony-btn-sm {
    width: 24px !important; /* 小图标按钮宽度 */
    height: 24px;
    min-width: 24px !important; /* 覆盖按钮的最小宽度 */
}

.hony-btn-icon-only.hony-btn-sm .hony-btn-icon {
    font-size: 12px; /* 小图标按钮的图标大小 */
}

.hony-btn-icon-only.hony-btn-lg {
    width: 40px !important; /* 大图标按钮宽度 */
    height: 40px;
    min-width: 40px !important; /* 覆盖按钮的最小宽度 */
}

.hony-btn-icon-only.hony-btn-lg .hony-btn-icon {
    font-size: 16px; /* 大图标按钮的图标大小 */
}

/* 无底色无边框的图标按钮 */
.hony-btn-text.hony-btn-icon-only, .hony-btn-link.hony-btn-icon-only {
    width: 24px; /* 常规无底色无边框图标按钮宽度 */
    height: 24px;
}

.hony-btn-text.hony-btn-icon-only .hony-btn-icon, .hony-btn-link.hony-btn-icon-only .hony-btn-icon {
    font-size: 16px; /* 常规无底色无边框图标按钮的图标大小 */
}

.hony-btn-text.hony-btn-icon-only.hony-btn-sm, .hony-btn-link.hony-btn-icon-only.hony-btn-sm {
    width: 20px; /* 小无底色无边框图标按钮宽度 */
    height: 20px;
}

.hony-btn-text.hony-btn-icon-only.hony-btn-sm .hony-btn-icon, .hony-btn-link.hony-btn-icon-only.hony-btn-sm .hony-btn-icon {
    font-size: 12px; /* 小无底色无边框图标按钮的图标大小 */
}

.hony-btn-text.hony-btn-icon-only.hony-btn-lg, .hony-btn-link.hony-btn-icon-only.hony-btn-lg {
    width: 28px; /* 大无底色无边框图标按钮宽度 */
    height: 28px;
}

.hony-btn-text.hony-btn-icon-only.hony-btn-lg .hony-btn-icon, .hony-btn-link.hony-btn-icon-only.hony-btn-lg .hony-btn-icon {
    font-size: 20px; /* 大无底色无边框图标按钮的图标大小 */
}

.hony-btn-disabled {
    cursor: not-allowed;
}
.hony-button-container {
    margin-top: 24px;
    padding: 48px;
    background: var(--grey-bg-0);
    border-radius: 8px;
}