<!-- 设计规范侧边栏 -->
<div class="side-nav">
        <!-- LOGO -->
    <div class="logo" onclick="navigateTo('index.html')">
        <img class="logo-icon" src="../../overall/images/LOGO.png" alt="Hony Design Logo">
        <div class="logo-text">Hony Design</div>
    </div>
    <div class="nav-menu-section">
        <!-- 设计规范 -->
        <div class="nav-section">
            <div class="nav-section-title">设计规范</div>
            <div class="nav-item" onclick="navigateToSpecification('color.html')">
                <div class="nav-item-inner">
                    <div class="nav-text">颜色  Color</div>
                </div>
            </div>
            <div class="nav-item" onclick="navigateToSpecification('font.html')">
                <div class="nav-item-inner">
                    <div class="nav-text">字体  Fonts</div>
                </div>
            </div>
            <div class="nav-item" onclick="navigateToSpecification('layout.html')">
                <div class="nav-item-inner">
                    <div class="nav-text">布局  Layout</div>
                </div>
            </div>
            <div class="nav-item" onclick="navigateToSpecification('shadow.html')">
                <div class="nav-item-inner">
                    <div class="nav-text">阴影  Shadow</div>
                </div>
            </div>
            <div class="nav-item" onclick="navigateToSpecification('icon.html')">
                <div class="nav-item-inner">
                    <div class="nav-text">图标  Icon</div>
                </div>
            </div>
        </div>
        <!-- 设计思路 -->
        <div class="nav-section">
            <div class="nav-section-title">设计思路</div>
            <div class="nav-item">
                <div class="nav-item-inner">
                    <div class="nav-text">设计整体框架</div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-item-inner">
                    <div class="nav-text">设计思路搭建</div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-item-inner">
                    <div class="nav-text">如何高效实用</div>
                </div>
            </div>
        </div>        
    </div>
</div>
