/* 多页签基础样式 */
.multi-tab-section {
  margin-bottom: 20px;
}

.multi-tab {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--grey-face-2);
  background: var(--white);
  padding-top: 4px;
  height: 28px;
  gap: 4px;
}

.multi-tab-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  height: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.multi-tab-icon {
  font-size: 12px;
  color: var(--grey-text-4);
}
.multi-tab-item:hover .multi-tab-icon{
  font-size: 12px;
  color: var(--primary-main-1);
}
.multi-tab-item:hover .multi-tab-text{
  font-size: 12px;
  color: var(--primary-main-1);
}
.multi-tab-text {
  font-size: 12px;
  line-height: 20px;
  color: var(--grey-text-4);
}

.multi-tab-close {
  font-size: 12px;
  color: var(--grey-text-4);
  transition: opacity 0.2s ease;
}

.multi-tab-close:hover {
  opacity: 1;
}


/* 样式1 */
.multi-tab-style1 .multi-tab-item {
  border: 1px solid var(--grey-border-1);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: var(--grey-bg-1);
}

.multi-tab-style1 .multi-tab-item:hover {
  background: var(--primary-face-1);
}

.multi-tab-style1 .multi-tab-item.active {
  border-color: var(--primary-main-1);
  background: var(--primary-main-1);
}

.multi-tab-style1 .multi-tab-item.active .multi-tab-text {
  color: var(--primary-main-5);
}

.multi-tab-style1 .multi-tab-item.active .multi-tab-close {
  color: var(--primary-main-5);
}

/* 样式2 */
.multi-tab-style2 {
  height: 32px;
  gap: 0px;
}

.multi-tab-style2 .multi-tab-item {
  padding: 8px;
  height: 32px;
  min-height: 28px;
  max-height: 32px;
  min-width: 32px;
}

.multi-tab-style2 .multi-tab-item:hover {
  background: var(--grey-face-1);
}

.multi-tab-style2 .multi-tab-item.active {
  background: var(--grey-face-1);
}

.multi-tab-style2 .multi-tab-item.active .multi-tab-text {
  color: var(--primary-main-1);
}

.multi-tab-style2 .multi-tab-badge {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background: var(--grey-face-2);
  color: var(--grey-border-1);
}

/* 响应式设计 */
@media (max-width: 768px) {
  .multi-tab {
    flex-wrap: wrap;
  }
  
  .multi-tab-item {
    margin-bottom: 4px;
  }
}